
<!DOCTYPE html>
<html lang="en">
<title>INDEX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {padding: 16px}
</style>
<body style="background:#bdcebe">

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-white w3-animate-left w3-card" style="z-index:3;width:320px;background:#d6cbd3" id="mySidebar">

  <a href="javascript:void(0)" onclick="w3_close()" title="Close Sidemenu" 
  class="w3-bar-item w3-button w3-hide-large w3-large">Close <i class="fa fa-remove"></i></a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-dark-grey w3-button w3-hover-black w3-left-align" >Purple Team </a>
  <a id="myBtn" onclick="myFunc('Demo1')" href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>Polytechnic College </a>
  <div id="Demo1" style="background:#d6cbd3" class="w3-hide w3-animate-left">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-border-bottom test w3-hover-light-grey" onclick="openMail('Borge');w3_close();" id="firstTab">
      
    </a>
    
  </div>
  <a href="{% url 'template1' %}" class="w3-bar-item w3-button"><i class="fa fa-paper-plane w3-margin-right"></i>Project</a>
  <a href="{% url 'template6' %}" class="w3-bar-item w3-button"><i class="fa fa-hourglass-end w3-margin-right"></i>Abstract</a>
  <a href="{% url 'template7' %}" class="w3-bar-item w3-button"><i class="fa fa-hourglass-end w3-margin-right"></i>Team Members</a>
</nav>

<!-- Modal that pops up when you click on "New Message" -->

<!-- Overlay effect when opening the side navigation on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="Close Sidemenu" id="myOverlay"></div>

<!-- Page content -->
<div class="w3-main" style="margin-left:320px;">
<i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" onclick="w3_open()"></i>
<a href="javascript:void(0)" class="w3-hide-large w3-red w3-button w3-right w3-margin-top w3-margin-right" onclick="document.getElementById('id01').style.display='block'"><i class="fa fa-pencil"></i></a>
{% load crispy_forms_tags %}
<div id="Borge" class="w3-container person">
  <br>
 
  <h1 class="w3-opacity" style="text-align: center;background:#bdcebe">FOOD AVAILABLITY FORM</h1>
  <h4><form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        
      </div>
    </div>

    {% load crispy_forms_tags %}

    <form method="post" novalidate >
    {% csrf_token %}
    <div class="row" >
      <div class="col-5">
        {{ w.Enter_Location|as_crispy_field }}
      </div>
      <div class="col-5">
        {{ w.Enter_The_Name_Of_Organization|as_crispy_field }}
      </div>
      <div class="col-5">
        {{ w.Enter_Address|as_crispy_field }}
      </div>
      <div class="col-5">
        {{ w.Enter_Food_Menu|as_crispy_field }}
      </div>
      <div class="col-5">
        {{ w.Enter_Quantity_Per_Person|as_crispy_field }}
      </div>
      <div class="col-5">
        {{ w.Time_To_Pickup_Range_With_Date|as_crispy_field }}<br>
      </div>
     
     
    </div>

    <button type="submit" class="btn btn-success" style="text-align:center;">Submitt</button>
   

  </form>
</h4>
  
  
 
</div>
</div>

<script>
var openInbox = document.getElementById("myBtn");
openInbox.click();

function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

function myFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show"; 
    x.previousElementSibling.className += " w3-red";
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-red", "");
  }
}

openMail("Borge")
function openMail(personName) {
  var i;
  var x = document.getElementsByClassName("person");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x = document.getElementsByClassName("test");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" w3-light-grey", "");
  }
  document.getElementById(personName).style.display = "block";
  event.currentTarget.className += " w3-light-grey";
}
</script>

<script>
var openTab = document.getElementById("firstTab");
openTab.click();
</script>

</body>
</html> 